/* MAP COMPONENT */
.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.map-container-fullscreen {
  width: 100vw;
  height: 100vh;
}

/* Hide Mapbox attribution and info button */
.map-container .mapboxgl-ctrl-attrib,
.map-container .mapboxgl-ctrl-logo {
  display: none !important;
}
