/* Import Geist Google Font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root{
  --bg: #f7f7fb;
  --fg: #0f172a;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
  height:100%;
  margin:0;
  font-family: 'Geist', Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background:var(--bg);
  color:var(--fg);
}

:root {
  --color-primary: #AD8B73;
  --color-secondary: #CEAB93;
  --color-accent: #E3CAA5;
  --color-background: #FFFBE9;
}

h1, h2, h3, h4, h5, h6, p, blockquote, li, p {
  margin: 0;
  padding: 0;

}


